<div class="enemyBox">
  <img
    *ngIf="currentEnemy.hp > 0"
    src="../../assets/images/enemies/{{ currentEnemy.name }}.gif"
    title="{{ currentEnemy.name }}"
  />

  <div class="damageFeedbackBox">
    <div class="damageIcon" *ngFor="let i of [].constructor(0, 1, 2, 3)">
      <img
        [ngStyle]="{
          visibility: damageJustDealt[i] > 0 ? 'visible' : 'hidden'
        }"
        src="{{ damageIconPaths[i] }}"
      />
      <p
        [ngStyle]="{
          visibility: damageJustDealt[i] > 0 ? 'visible' : 'hidden'
        }"
      >
        {{ damageJustDealt[i] }}
      </p>
    </div>
  </div>
</div>
<img
  class="rewardChest"
  *ngIf="currentEnemy.hp <= 0"
  (click)="claimGold()"
  src="../../assets/images/Chest.png"
/>

<div class="healthSection">
  <div class="outerHealthBar">
    <div
      class="healthBar"
      [ngStyle]="{ 'width.%': (currentEnemy.hp / currentEnemyMaxHp) * 100 }"
    >
      &nbsp;
    </div>
    <img
      src="../../assets/images/icons/Poison.png"
      title="Poisoned: Extra damage every half a second."
      *ngIf="currentEnemyIsPoisoned"
    />
  </div>
  <p>HP: {{ currentEnemy.hp }} / {{ currentEnemyMaxHp }}</p>
</div>

<p class="goldEarned" *ngIf="moneyJustEarned > 0">
  +{{ moneyJustEarned }} Gold
</p>
