.saveBox {
  //border: 1px solid darkgrey;
  position: fixed;
  margin: auto;
  padding: 10px;
  animation: fadeIn 1s;
  background-color: black;
  z-index: 1;
  border-radius: 4px;

  margin-top: 210px;
}

.delete {
  margin-left: 128px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

button:hover {
  background-color: lightcoral;
}

@media only screen and (max-width: 600px) {
  .saveBox{
    position: relative;
    margin-top: 0px;

    text-align: center;
  }
  .delete{
    margin-top: 0px;
    margin-left: 0;
  }
}
