.game {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .game {
    display: block;
    width: 90%;
  }
}
