main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
  color: white;
  background-color: black;
}


button {
  color: white;
  background-color: black;
}

* {
  background-color: black;
}