main {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
  color: white;
}


@media only screen and (max-width: 600px) {
  .main {
    display: block;
    width: 50%;
    padding: 4px;
    margin: auto;
  }
}